




















 *{
    margin: 0;
    padding: 0;
}

.container{
    width: 400px;
    height: 400px;
    background-color: white;
    margin: 150px;
    display: flex;
    flex-direction: column;
}

.halqa-1{
    width: 400px;
    height: 200px;
    background-color: yellow;
    border-radius: 50% / 100% 100% 0 0;
    animation-name: move;
   animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
    transform-origin: bottom;

   
   
}

@keyframes move{
    0%{
        transform:rotateZ(0deg) ;
    }
    100%{
        transform:  rotateZ(-20deg);
    }
}

 
.balaca{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    position: relative;
    left: 250px;
    top: 100px;

}


.halqa-2{
    width: 400px;
    height: 200px;
    background-color: yellow;
    border-radius: 50% / 0 0 100% 100%;
    animation-name: food;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: inline-block;
    transform-origin:10% 20%;
   

   
}



@keyframes food {
    0%{
        transform: rotateZ(0deg) ;
    }

    100%{
       transform: rotateZ(10deg) ;
    }
} */